# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.terraform

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.DS_Store

# End of https://www.gitignore.io/api/intellij,visualstudiocode

# Ignore Azure token and credential files
.token
.credential*

plan*

vars.sh