@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 136 80% 29%;
    --primary-foreground: 210 40% 98%;
    --secondary: 201.49 34.36% 38.24%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 201.49 34.36% 38.24%%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 201.49 34.36% 38.24%%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0 0 /12%;
    --input: 0 0 0 /12%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0 26%;
    --foreground: 210 40% 98%;
    --card: 0 0 26%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0 26%;
    --popover-foreground: 210 40% 98%;
    --primary: 122.42 39.44% 49.22%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 200 11.69% 30.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 200 11.69% 30.2%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 200 11.69% 30.2%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0 100% /12%;
    --input: 0 0 100% /12%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
